<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:th="https://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Wundertec">
<title>Insert title here</title>
</head>
<body>
	<tbody style="font-size:13px">
		<tr>
			<td align="center">
<!-- 				<img data-imagetype="External" src="https://s3.us-west-2.amazonaws.com/la-castellana-erp-development/Recursos/img/logo_2.png" style="width:250px"/> -->
				<img th:src="@{'https://s3.us-west-2.amazonaws.com/la-castellana-erp-development/Recursos/img/logo_2.png'}" style="width:250px"/>
			</td>
		</tr>
		<tr>
			<td>
				<hr style="border:1px solid #76122c"/>
			</td>
		</tr>
		<tr>
			<td>
				<p>Nombre: <span th:utext="${nombre}"></span></p>
				<p>Email: <span th:utext="${email}"></span> </p>
				<p> <span th:utext="${mensaje}"></span> </p>
			</td>
		</tr>
		<tr>
			<td>
				<hr style="border:1px solid #76122c"/>
			</td>
		</tr>
		<tr>
			<td align="center">
				<p style="font-size:9px">Este es un correo enviado autom&aacute;ticamente, por favor no lo responda.</p>
			</td>
		</tr>
	</tbody>
</body>
</html>