<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:th="https://thymeleaf.org">
	
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Wundertec"/>
<title>ECOMMERCE LA CASTELLANA - CORREO NUEVO USUARIO</title>
</head>
<body>

	<table style="border-collapse: collapse;" cellpadding="0" cellspacing="0" >
    	<tr>
        	<td rowspan="4" style="width:431px; height: 400px;"><img th:src="@{'https://s3-us-west-2.amazonaws.com/ecommerce-devel/recursos_mail/1.png'}"style="width:100%;height:100%"/></td>
            <td  colspan="2" style="width:449; height: 86px"><img th:src="@{'https://s3-us-west-2.amazonaws.com/ecommerce-devel/recursos_mail/2.png'}"style="width:100%;height:100%"/></td>
        </tr>
        <tr>
        	<td valign="top" style="width:460px; height: 120px;">
            	<h2 valign="top" style="text-align: center;"><span style="color: #800000;"><strong>Bienvenido </strong><strong th:utext="${nombre}"></strong></span></h2>
                <p style="text-align: center;"><strong>Gracias por crear tu cuenta</strong><br/>La Castellana agradece tu preferencia</p>
                <p style="text-align: center;"><span style="color: #808080;">A partir de ahora podrás iniciar sesión como usuario y hacer compras más rápido, fácil y seguro, podrás estar siempre al día con promociones y descuentos.</span></p>
            </td>
        </tr>
        <tr>
        	<td style="background-color: #800000; height:25px; text-align: center"><span style="color: #FFFFFF;"><strong>Usuario: </strong>  </span><span style="background-color: #FFFFFF; text-align: center" th:utext="${email}"></span></td>
        </tr>
<!--         <tr> -->
<!-- 			<td style="background-color: #800000; height: 25px;text-align: center"><span style="color: #FFFFFF;"><strong>Contraseña: </strong></span>   <span style="background-color: #FFFFFF; text-align: center" th:utext="${password}"></span></td> -->
<!--         </tr> -->
	</table>
</body>
</html>